body {
    padding: 0px;
    margin: 0px;
}

.gridContainer {
    display: grid;
}

section {
    margin: 0 10% 0 10%;
}

#addTrip {
    h2 {
        margin-top: 30px;
        text-align: center;
    }
}

header {
    background-color: rgb(67, 24, 152);
    h1 {
        text-align: center;
        letter-spacing: 2px;
        font-size: 2em;
        margin-top: 50px;
        color: white;
    }
}

#addTripTitle {
    font-size: 1.5em;
}

form {
    display: grid;
    width: 100%;
    margin: 0 auto;
    max-width: 600px;

    input {
        line-height: 16px;
        width: 100%;
        margin: 0 0 25px 0;
        padding: 10px;
        font-size: 1.1em;
        border: 1px solid grey;
        font-family: sans-seirf;
    }

    label {
        font-size: 1.2em;
        margin-bottom: 10px;
        font-weight: bold;
    }
}

.buttonDiv {
    text-align: center;
}

#submitButton {
    max-width: 200px;
    padding: 20px;
    background-color: rgb(143, 24, 152);
    color: white;
    border-radius: 25px;
}

#submitButton:hover {
    background-color: rgb(162, 31, 171);
}
