<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <title>Travel App</title>
  <meta name="description" content="Travel planner application" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="gridContainer">
    <header>
      <h1 id="headerTitle">Travel Planner</h1>
    </header>

    <section id="addTrip">
      <h2 id="addTripTitle">Add Trip</h2>
      <form class="form">
        <input id="where" type="text" name="input" value="" placeholder="Destination" required>
        <label for="arrivalDate">Destination Arrival Date</label>
        <input id="arrivalDate" type="date" name="input" value="" placeholder="Arrival date" required>
        <label for="departureDate">Destination Departure Date</label>
        <input id="departureDate" type="date" name="input" value="" placeholder="Departure date" required>
        <div class="buttonDiv">
          <input id="submitButton" type="submit" name="" value="Submit">
        </div>
      </form>
    </section>

    <section id="result">
      <div class="resultInfo">
        <img id="resultImg" src="../img/map.jpg">
        <div class="resultHeader">
          <h3 id="location">Location</h3>
          <h3 id="country">Country</h3>
          <div class="lengthDiv">
            <p id="lengthText">Trip Length:</p>
            <p id="lengthNumber">#</p>
            <p id="lengthDays">days</p>
          </div>
          <div class="countDiv">
            <p id="countDownNumber">#</p>
            <p id="countDownDays">days</p>
            <p id="countDown">away</p>
          </div>
        </div>
        <div class="details">
          <p id="arrivalTitle">Arrival</p>
          <p id="departureTitle">Departure</p>
          <p id="arrivalResult">Arrival Date</p>
          <p id="departureResult">Departure Date</p>
        </div>
        <div class="weather">
          <p id="weatherTitle">Typical Weather</p>
          <p id="weatherDetails">Weather</p>
        </div>
        <div class="submitButtons">
          <input class="submitButtonResult" id="save" type="submit" name="" value="Save">
          <input class="submitButtonResult" id="remove" type="submit" name="" value="Remove">
        </div>
        <div class="newSearch">
          <input id="newSearchButton" type="submit" name="" value="New Search">
        </div>
      </div>
  </div>
  </section>
  <section id="myTrips">
    <h2 id="myTripsHeader">My Trips</h2>
    <div id="tripTiles">
    </div>
  </section>
  </div>
  <script>
    // Check that service workers are supported
    if ("serviceWorker" in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener("load", () => {
        navigator.serviceWorker.register("/service-worker.js");
      });
    }
  </script>
</body>

</html>