<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <title>Travel App</title>
  <meta name="description" content="A travel application" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="gridContainer">
    <header>
      <h1 id="headerTitle">Travel Planner</h1>
    </header>

    <section id="addTrip">
      <h2 id="addTripTitle">Add Trip</h2>
      <form class="form">
        <input id="where" type="text" name="input" value="" placeholder="Destination" required>
        <label for="arrivalDate">Destination Arrival Date</label>
        <input id="arrivalDate" type="date" name="input" value="" placeholder="Arrival date" required>
        <label for="departureDate">Destination Departure Date</label>
        <input id="departureDate" type="date" name="input" value="" placeholder="Departure date" required>
        <div class="buttonDiv">
          <input id="submitButton" type="submit" name="" value="Submit">
        </div>
      </form>
    </section>

    <section id="result">
      <div class="resultInfo">
        <img id="resultImg" src="../img/map.jpg">
        <div class="resultHeader">
          <h3 id="locationName">Location</h3>
          <p id="length">Length</p>
          <p id="countDown">Countdown</p>
        </div>
        <div class="details">
          <p id="arrivalTitle">Arrival</p>
          <p id="departureTitle">Departure</p>
          <p id="arrivalResult">Arrival Date</p>
          <p id="departureResult">Departure Date</p>
        </div>
        <div class="weather">
          <p id="weatherTitle">Typical Weather</p>
          <p id="weatherDetails">Weather</p>
        </div>
        <div class="submitButtons">
          <input class="submitButtonResult" id="save" type="submit" name="" value="Save">
          <input class="submitButtonResult" id="remove" type="submit" name="" value="Remove">
        </div>
        <div class="newSearch">
          <input id="newSearchButton" type="submit" name="" value="New Search">
        </div>
      </div>
    </section>

    <section id="myTrips">
      <h2 id="myTripsHeader">My Trips</h2>
      <div class="tripTiles">
        <div class="trip" id="trip1">
          <img class="tripImg" id="tripImg1" src="../img/map.jpg">
          <h3 class="tripTitle">Trip 1</h3>
        </div>
        <div class="trip" id="trip2">
          <img class="tripImg" id="tripImg2" src="../img/map.jpg">
          <h3 class="tripTitle">Trip 2</h3>
        </div>
        <div class="trip" id="trip3">
          <img class="tripImg" id="tripImg3" src="../img/map.jpg">
          <h3 class="tripTitle">Trip 3</h3>
        </div>
      </div>
    </section>
  </div>
</body>

</html>