<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Analyze Article</title>
</head>

<body>

    <header>
        <div class="title">
            <p>Analyze Article</p>
        </div>
        <div class="subTitle">
            <p>with Natural Language Processing</p>
        </div>
    </header>

    <main>
        <section>
            <form class="form" onsubmit="return Client.handleSubmit(event)">
                <input id="url" type="text" name="input" value="" placeholder="Submit a URL">
                <input class="submitButton" type="submit" name="" value="Submit"
                    onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
            </form>
            <section>

                <section>
                    <div>
                        <p class="formResultsTitle">Form Results</p>
                    </div>
                    <div id="results">

                        <div id="submittedURL">
                        </div>
                        <div id="polarity">
                        </div>
                        <div id="polarityConfidence">
                        </div>
                        <div id="subjectivity">
                        </div>
                        <div id="subjectivityConfidence">
                        </div>

                    </div>
                </section>
    </main>

    <footer>
        <p>Analysis data from <a href="https://docs.aylien.com/" target="_blank">Aylien API</a></p>
    </footer>

</body>

</html>