body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    background-color: rgb(211, 211, 211);
}

main {
    flex: 2;
}

section {
    margin: auto;
}

.formResultsTitle {
    font-weight: bold;       
    font-size: 1.7em;
}

#results {
    text-align: center;
}

.resultsTile {
    margin-top: 20px;

    p {
        font-weight: bold;
        font-size: 1.3em;
    }
}

.resultText {
    margin-top: 10px;
    color: rgb(102, 27, 27);
    font-size: 1.2em;
}
