body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    background-color: rgb(211, 211, 211);
}

main {
    flex: 2;
}

section {
    margin: auto;
}

.formResultsTitle {
    font-weight: bold;       
    font-size: 1.5em;
}
