form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
    margin: 40px 20% 40px 20%;
    background-color: white;
}

input {
    line-height: 16px;
    width: 100%;
    margin: 10px;
}

.formResultsTitle {
    text-align: center;
}