@import "/css/footer.css";
@import "/css/header.css";
@import "/css/sidebar.css";

body {
    padding: 0px;
    margin: 0px;
    font-family: sans-seirf;
}

.grid-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10fr 1fr 1fr;
    grid-template-areas: "header" "content" "about" "footer";
}

#post-cards {
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-left: 4%;
    margin-right: 4%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid rgb(138, 138, 138);
    background-color: rgb(241, 241, 241);
    padding: 5%;
    margin: 6% 7% 0% 7%;
}

.date {
    margin-top: 7px;
    margin-bottom: 1px;
    font-size: 0.7em;
    letter-spacing: 2px;
}

.card-image {
    max-width: 100%;
    height: auto;
}

.blog-post-title {
    margin-top: 5px;
    margin-bottom: 2px;
}

.blog-card-text {
    margin-top: 8px;
    margin-bottom: 13px;
}

.read-button {
    background-color: #222;
    color: white;
    text-align: left;
    padding: 5px;
    font: lighter 7px;
    letter-spacing: 1px;
    text-decoration: none;
}

/* Large Screens */

@media (min-width:500px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 10fr 1fr;
        grid-template-areas: "header header header header" "content content content about" "footer footer footer footer";
    }
    #post-cards {
        grid-area: content;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 2%;
    }

}